* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: rgb(24, 24, 24);
    box-sizing: border-box;
}

/******************************* FONTS ****************************/

@font-face {
    font-family: fatface;
    src: url('../fonts/AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: carter;
    /*Usar solo para el h3 del index*/
    src: url('../fonts/CarterOne-Regular.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/MontserratAlternates-SemiBoldItalic.ttf');
}

/******************************* TITULOS Y TEXTO + MEDIA QUERIES ****************************/

h1 {
    margin-top: 13vh;
    font-family: fatface;
    font-size: 11em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    text-align: center;
    color: lemonchiffon;
}

h2 {
    font-family: montserrat;
    padding-top: 1%;
    font-size: 5em;
    text-align: center;
}

h3 {
    font-family: montserrat;
    margin-top: 13vh;
    text-align: center;
    font-size: 4em;
    padding: 2%;
    letter-spacing: 3px;
}

h4 {
    font-family: carter;
    font-size: 2em;
    color: lemonchiffon;
}

p {
    font-size: 1.3em;
    word-spacing: 1px;
}

a {
    width: 15vw;
    font-size: 2.2em;
}

@media only screen and (min-width:1134px)and (max-width:1247px) {
    h1 {
        font-size: 9.5em;
    }

    h3 {
        margin-top: 14vh;
    }
}

@media only screen and (min-width:1024px) and (max-width:1134px) {
    h1 {
        font-size: 8em;
        margin-top: 14vh;
    }

    h3 {
        margin-top: 15vh;
    }
}

@media only screen and (min-width:793px) and (max-width:1024px) {
    h1 {
        font-size: 6em;
        margin-top: 15vh;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        margin-top: 16vh;
    }

    p {
        font-size: 1.1em;
    }
}

@media only screen and (min-width:481px) and (max-width:793px) {
    h1 {
        font-size: 4em;
        margin-top: 17vh;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2.2em;
        margin-top: 17vh;
    }

    h4 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }
}

/******************************* MENU NAV *******************************/

.nav-link {
    transition: all 0.3s;
}

.nav-link:hover {
    transform: scale(1.15);
}

/******************************* INDEX.HTML ****************************/


.carousel {
    margin-top: 2%;
}

.carousel-item img {
    border-radius: 10%;
    border: lemonchiffon solid 5px;
}

@media screen and (min-width:481px) and (max-width:793px) {
    .carousel {
        margin-top: 4%;
    }
}

/******************************* FOOTER ****************************/

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.footer_card {
    width: 30%;
    height: auto;
    padding-top: 2%;
    text-align: center;
}

.footer_card a {
    font-size: 1.2em;
    color: lemonchiffon;
}

.footer_card p {
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    color: rgb(168, 168, 168);
}

@media screen and (min-width:481px) and (max-width:793px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer_card {
        width: 100%;
    }
}

/******************************* FOOTER - UBICACION ****************************/

.iframe {
    width: 70%;
    height: 70%;
    transition: all 0.3s ;
}

.iframe:hover {
    transform: scale(1.15);
}

/******************************* FOOTER - AYUDA ****************************/

.footer_card_ayuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_card_ayuda li {
    list-style-type: none;
    font-size: 1.3em;
    padding: 1%;
    text-align: center;
    transition: all 0.3s ;
}

.footer_card_ayuda li:hover {
    transform: scale(1.15);
}
/******************************* FOOTER - REDES ****************************/

.footer_card_redes {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_card_redes a img {
    width: 60px;
    transition: all 0.3s;
}

.footer_card_redes a img:hover {
    transform: scale(1.25);
}

.social_media_top_icons {
    display: flex;
    justify-content: space-evenly;
}

.social_media_bottom_icons {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width:481px) and (max-width:793px) {
    .footer_card_redes {
        width: 100%;
        height: 120px;
        margin-bottom: 10%;
    }

    .footer_card_redes a img {
        width: 45px;
    }
}

/******************************* COPYRIGHT ****************************/

.copyright {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.copyright p {
    font-size: 1em;
    color: lemonchiffon;
    text-align: center;
    font-style: italic;
    margin: 0;
}

@media screen and (min-width:481px) and (max-width:793px) {
    .copyright p {
        font-size: 0.7em;

    }
}

/******************************* WHATSAPP LOGO ****************************/

.whatsapp img {
    width: 55px;
    background-color: transparent;
    object-fit: cover;
    position: fixed;
    bottom: 35px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
}

.whatsapp img:hover {
    transform: scale(1.15);
}

@media screen and (min-width:481px) and (max-width:793px) {
    .whatsapp img {
        width: 45px;
        bottom: 80px;
    }
}

/******************************* EMPRESA.HTML ****************************/

.empresa_card {
    display: flex;
    flex-flow: row nowrap;
    padding-top: 2%;
}

.empresa_card_left {
    width: 45%;
    padding-left: 3%;
}

.empresa_card_left h4 {
    font-family: montserrat;
    font-size: 2.5em;
    text-align: center;
    padding-top: 1%;
}

.empresa_card_left p {
    padding: 3%;
    font-size: 1.6em;
    letter-spacing: 0.5px;
    text-align: center;
}

.empresa_card_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empresa_card_right img {
    width: 80%;
    object-fit: cover;
    border: lemonchiffon solid 7px;
    border-radius: 5%;
}

@media screen and (min-width:481px) and (max-width:920px) {
    .empresa_card {
        display: flex;
        flex-flow: column;
        margin-bottom: 5%;
    }

    .empresa_card_left {
        width: 100%;
    }

    .empresa_card_right {
        display: none;
    }
}

/******************************* GALERIA ****************************/

#galeria {
    margin-top: 0;
    margin-bottom: 3%;
}

.galeria_grid {
    width: 100%;
    margin-bottom: 3%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 32vw)
}

.galeria_grid img {

    width: 90%;
    height: 95%;
    object-fit: cover;
    border: lemonchiffon solid 5px;
    border-radius: 10%;
    transition: all 0.3s;
}

.galeria_grid img:hover {
    transform: scale(1.10);
}

/*grid-row-start/grid-column-start/grid-row-end/grid-column-end*/

.pic1 {
    grid-area: 1/1/2/2;
}

.pic2 {
    grid-area: 1/2/2/3;
}

.pic3 {
    grid-area: 1/3/3/4;
}

.pic4 {
    grid-area: 2/1/3/2;
}

.pic5 {
    grid-area: 2/2/3/3;
}

.pic6 {
    grid-area: 3/1/5/2;
}

.pic7 {
    grid-area: 3/2/4/4;
}

.pic8 {
    grid-area: 4/2/5/4;
}

@media only screen and (min-width:793px) and (max-width:1024px) {
    .galeria_grid {
        margin-bottom: 5%;
    }
}

@media only screen and (min-width:481px) and (max-width:1024px) {
    .galeria_grid {
        margin-bottom: 7%;
        grid-template-columns: repeat(2, 50vw)
    }

    /*grid-row-start/grid-column-start/grid-row-end/grid-column-end*/

    .pic1 {
        grid-area: 1/1/2/2;
    }

    .pic2 {
        grid-area: 1/2/2/3;
    }

    .pic4 {
        grid-area: 2/1/3/2;
    }

    .pic7 {
        grid-area: 3/1/4/3;
    }

    .pic8 {
        grid-area: 4/1/5/3;
    }

}

/******************************* PRODUCTOS.HTML ****************************/

.descripcion {
    width: 96%;
    text-align: justify;
    padding: 1%;
}

.productos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.productos__card {
    width: 30%;
    border: lemonchiffon solid 2px;
    text-align: center;
    padding: 1%;
}

.productos__card img {
    width: 75%;
    object-fit: cover;
    padding-top: 2%;
    padding-bottom: 3%;
}

@media only screen and (min-width:481px) and (max-width:1024px) {
    .productos {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin-bottom: 3%;
    }

    .productos__card {
        width: 100%;
        margin-top: 5%;
        margin-bottom: 9%;
        border: lemonchiffon solid 1px;
    }
}

/******************************* NUTRICIONAL.HTML ****************************/

.nutricional {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.nutricional__card {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.nutricional__card img {
    width: 80%;
    border: lemonchiffon solid 4px;
    border-radius: 8%;
    margin-top: 4%;
    margin-bottom: 4%;
    transition: all 0.3s;
}

.nutricional__card img:hover {
    transform: scale(1.08);
}


.nutricional__card p {
    width: 90%;
    text-align: center;
}

table {
    width: 70%;
    text-align: center;
}

th,
td {
    border-bottom: grey solid 1px;
    padding: 1%;
}

@media screen and (min-width:481px) and (max-width:793px) {
    .nutricional {
        display: flex;
        flex-flow: column;
        margin-bottom: 8%;
    }
        .nutricional__card {
            width: 100%;
            margin-top: 5%;
        }
}

/******************************* PEDIDOS.HTML ****************************/

form {
    border: lemonchiffon solid 3px;
    border-radius: 3%;
    margin-top: 2%;
    padding: 1%;
    width: 80%;
}

form input {
    width: 100%;
    font-size: 25px;
    color: sandybrown;
    border: none;
    border-bottom: 2px solid #ffffff;
}

form textarea {
    width: 100%;
    font-size: 25px;
    color: sandybrown;
    border: none;
    border-bottom: 2px solid #ffffff;
}

form label {
    font-size: 28px;
    color: lemonchiffon;
    font-style: oblique;
    font-weight: 800;
}

#enviar {
    width: 25%;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    border: rgb(95, 95, 95) 3px solid;
    border-radius: 25px;
    margin-top: 1%;
    transition: all 0.3s;
}

#enviar:hover {
    transform: scale(1.15);
}

#resetear {
    width: 25%;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    border: rgb(96, 96, 96) 3px solid;
    border-radius: 25px;
    margin-top: 1%;
    transition: all 0.3s;
}

#resetear:hover {
    transform: scale(1.15);
}

/******************************* MODO DE CONSERVACION ****************************/

#modo_conservacion {
    margin-top: 3%;
}

.instrucciones {
    width: 75%;
    display: flex;
    flex-flow: column;
    margin-bottom: 3%;
}

.instrucciones_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
}

.instrucciones_card img {
    width: 12%;
    height: auto;
    margin-bottom: 3%;
}