/******************************* BREADCRUMBS ****************************/
$maincolor:lemonchiffon;

.breadcrumb ul {
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 10px 16px;
    list-style: none;
}

.breadcrumb li {
    font-size: 1em;
    padding: 0px 5px;
}

.breadcrumb a {
    color: grey;
    font-size: 1em;
}

.breadcrumb a:hover {
    color: $maincolor;
}
/******************************* COPYRIGHT ****************************/
.copyright {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.copyright p {
    font-size: 1em;
    color: $maincolor;
    text-align: center;
    font-style: italic;
    margin: 0;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .copyright p {
        font-size: 0.7em;
    }
    .breadcrumb {
        display: none;
    }
}
/******************************* WHATSAPP LOGO ****************************/
.whatsapp img {
    width: 55px;
    background-color: transparent;
    object-fit: cover;
    position: fixed;
    bottom: 45px;
    right: 15px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s;
}

.whatsapp img:hover {
    transform: scale(1.20);
}

@media screen and (min-width:320px) and (max-width:768px) {
    .whatsapp img {
        width: 45px;
        bottom: 80px;
    }
}