/******************************* INDEX.HTML ****************************/
.carousel {
    margin-top: 2%;
}

.carousel-item img {
    border-radius: 10%;
    border: lemonchiffon solid 5px;
}

@media screen and (min-width:320px) and (max-width:793px) {
    .carousel {
        margin-top: 4%;
    }
}
/******************************* INDEX FOOTER ****************************/
.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.footer_card {
    width: 30%;
    height: auto;
    padding-top: 2%;
    text-align: center;
}

.footer_card a {
    font-size: 1em;
    color: lemonchiffon;
}

.footer_card p {
    font-size: 1.5em;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    color: rgb(168, 168, 168);
}

@media screen and (min-width:320px) and (max-width:793px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer_card {
        width: 100%;
    }

    .footer_card a {
        font-size: 1em;
    }

    .footer_card p {
        font-size: 1.1em;
        padding-top: 3%;

    }
}
/******************************* UBICACION ****************************/
.iframe {
    width: 70%;
    height: 70%;
    transition: all 0.5s ;
}

.iframe:hover {
    transform: scale(1.15);
}
/******************************* AYUDA ****************************/
.footer_card_ayuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_card_ayuda li {
    list-style-type: none;
    font-size: 1.3em;
    padding: 1%;
    /* text-align: center; */
    transition: all 0.3s ;
}

.footer_card_ayuda li:hover {
    transform: scale(1.20);
}
/******************************* REDES ****************************/
.footer_card_redes {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer_card_redes a img {
    width: 50px;
    transition: all 0.5s;
}

.footer_card_redes a img:hover {
    transform: scale(1.25);
}

.social_media_top_icons {
    display: flex;
    justify-content: space-evenly;
}

.social_media_bottom_icons {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width:320px) and (max-width:793px) {
    .footer_card_redes {
        width: 100%;
        height: 120px;
    }

    .footer_card_redes a img {
        width: 35px;
    }
}

