/******************************* INDEX HEADER - CAROUSEL ****************************/
$maincolor: lemonchiffon;
$totalwidth: 100%;

.carousel-image {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.index-img-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.368)1%, rgba(0, 0, 0, 0.62)), url(../images/index3.jpg);
}

.index-img-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.087)1%, rgba(0, 0, 0, 0.625)), url(../images/index2.jpg);
}

.index-img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0.648)), url(../images/Index1.jpg);
}

#main_text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 38vh;
    position: absolute;
    z-index: 1;
    background: none;
}

/******************************* INDEX MAIN ****************************/

#index_main {
    height: 126vh;
}

.text_index {
    padding: 2% 3%;
    text-align: center;
}

/******************************* INDEX FOOTER ****************************/
.footer {
    width: $totalwidth;
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
    margin-top: 3%;
}

.footer_card {
    width: 30%;
    height: auto;
    text-align: center;
}

.footer_card p {
    font-size: 1.2rem;
}

/******************************* UBICACION ****************************/
.iframe {
    width: 80%;
    height: 80%;
    transition: all 0.5s;
}

.iframe:hover {
    transform: scale(1.15);
}

/******************************* AYUDA ****************************/
.footer_card_ayuda {
    display: inline-block;
    text-align: center;
}

.footer_card_ayuda li {
    list-style-type: none;
    font-size: 1.3em;
    padding: 1%;
    transition: all 0.3s;
}

.footer_card_ayuda li:hover {
    transform: scale(1.20);
}

.footer_card a {
    text-decoration: none;
    font-size: 1rem;
    color: $maincolor;
}

/******************************* REDES ****************************/
.footer_card_redes {
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_card_redes img {
    width: 40px;
    transition: all 0.5s;
}

.footer_card_redes a img:hover {
    transform: scale(1.25);
}

.social_media_top_icons {
    width: 18vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    gap: 25%
}

.social_media_bottom_icons {
    @extend .social_media_top_icons;
}

/******************************* MEDIA QUERIES FOR INDEX ****************************/
@media screen and (min-width:320px) and (max-width:768px) {
    .carousel-image {
        height: 65vh;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer_card {
        width: $totalwidth;
    }

    .footer_card a {
        font-size: 1em;
    }

    .footer_card p {
        font-size: 1.1em;
        padding-top: 3%;
    }

}


@media screen and (min-width:320px) and (max-width:768px) {
    .footer_card_redes {
        width: $totalwidth;
        height: 120px;
    }

    .footer_card_redes a img {
        width: 35px;
    }
}