/******************************* NAVBAR *******************************/
.nav-link {
    text-align: center;
    transition: all 0.3s;
}

.nav-link:hover {
    transform: scale(1.15);
    color: lemonchiffon !important;
}

@media screen and (min-width:320px) and (max-width:793px) {

    .navbar-brand img {
        width: 80px !important;
    }
}


