/******************************* PEDIDOS.HTML ****************************/
$maincolor:lemonchiffon;
$totalwidth: 100%;

form {
    border: $maincolor solid 3px;
    border-radius: 3%;
    margin-top: 2%;
    padding: 1%;
    width: 80%;
}

input {
    width: $totalwidth;
    font-size: 25px;
    color: sandybrown;
    border: none;
    border-bottom: 2px solid #ffffff;
}

textarea {
    @extend input;
}

label {
    font-size: 28px;
    color: $maincolor;
    font-style: oblique;
    font-weight: 800;
}

#enviar {
    width: 25%;
    font-size: 25px;
    font-weight: 800;
    font-style: italic;
    border: rgb(95, 95, 95) 3px solid;
    border-radius: 25px;
    margin-top: 1%;
    transition: all 0.3s;
}

#enviar:hover {
    transform: scale(1.15);
}

#resetear {
    @extend #enviar
}

#resetear:hover {
    transform: scale(1.15);
}

@media screen and (min-width:320px) and (max-width:793px) {

    form input {
        font-size: 15px;

    }
    
    form textarea {
        font-size: 15px;
    }
    
    form label {
        font-size: 18px;
    }

    #enviar {
        font-size: 14px;
}

    #resetear {
    font-size: 14px;
}

}
/******************************* MODO DE CONSERVACION ****************************/

#modo_conservacion {
    margin-top: 3%;
}

.instrucciones {
    width: 75%;
    display: flex;
    flex-flow: column;
}

.instrucciones_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4%;
}

.instrucciones_card img {
    width: 6%;
    height: auto;
    margin-bottom: 3%;
}

#freezer {
    animation-name: efecto1;
    animation-timing-function:linear;
    animation-duration: 3s;
    animation-direction: normal;
} 

@keyframes efecto1 {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-300px);
    }
}

#tostadora {
    animation-name: efecto2;
    animation-timing-function:linear;
    animation-duration: 3s;
    animation-direction: normal;
    animation-delay: 0.5s;
} 

@keyframes efecto2 {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-300px);
    }
}

#cubiertos {
    animation-name: efecto3;
    animation-timing-function:linear;
    animation-duration: 3s;
    animation-direction: normal;
    animation-delay: 1s;
} 

@keyframes efecto3 {
    0% {
        opacity: 0;
        transform: translateX(-600px);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-300px);
    }
}


@media screen and (min-width:320px) and (max-width:793px) {
    
    form {
        width: 95%;
    }

    #modo_conservacion {
        margin-top: 8%;
    }

    .instrucciones {
        width: 90%;
        margin-bottom: 5%;
    }

    .instrucciones_card img {
        display: none;
    }
}
