* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: rgb(24, 24, 24);
    box-sizing: border-box;
}

/******************************* FONTS ****************************/
@font-face {
    font-family: fatface;
    src: url('../fonts/AbrilFatface-Regular.ttf');
}

@font-face {
    font-family: carter;
    /*Usar solo para el h3 del index*/
    src: url('../fonts/CarterOne-Regular.ttf');
}

@font-face {
    font-family: montserrat;
    src: url('../fonts/MontserratAlternates-SemiBoldItalic.ttf');
}

/******************************* TITULOS Y TEXTO + MEDIA QUERIES ****************************/
$maintitle: fatface;
$maincolor: lemonchiffon;
$aligncenter: center;

h1 {
    margin-top: 13vh;
    font-family: $maintitle;
    font-size: 11em;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
    text-align: $aligncenter;
    color: $maincolor;
}

h2 {
    font-family: montserrat;
    padding-top: 1%;
    font-size: 5em;
    text-align: $aligncenter;
}

h3 {
    font-family: montserrat;
    margin-top: 13vh;
    text-align: $aligncenter;
    font-size: 4em;
    padding: 2%;
    letter-spacing: 3px;
}

h4 {
    font-family: montserrat;
    font-size: 2em;
    color: $maincolor;
}

p {
    font-size: 1.3em;
    word-spacing: 1px;
}

a {
    width: 15vw;
    font-size: 2.2em;
}

@media only screen and (min-width:1134px)and (max-width:1247px) {
    h1 {
        font-size: 9.5em;
    }

    h3 {
        margin-top: 14vh;
    }
}

@media only screen and (min-width:1024px) and (max-width:1134px) {
    h1 {
        font-size: 8em;
        margin-top: 14vh;
    }

    h3 {
        margin-top: 15vh;
    }
}

@media only screen and (min-width:793px) and (max-width:1024px) {
    h1 {
        font-size: 6em;
        margin-top: 15vh;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        margin-top: 16vh;
    }

    p {
        font-size: 1.1em;
    }
}

@media only screen and (min-width:320px) and (max-width:793px) {
    h1 {
        font-size: 3em;
        margin-top: 17vh;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
        margin-top: 17vh;
    }

    h4 {
        font-size: 1.7em;
    }

    p {
        font-size: 1em;
    }
}


@import "_empresa";
@import "_footer";
@import "_index";
@import "_navbar";
@import "_nutricional";
@import "_pedidos";
@import "_productos";

